.header {
    background-color: #FFF;
    height: auto;
    display: flex;
    
   



    @media screen and (min-width: 600px) {
        .menu {
            display: flex;
           
            justify-content: flex-end;
             .user {
                 display: flex;

             }
           
        }
          h3 {
              font: italic normal normal 10px/13px Roboto;
              letter-spacing: 0px;
              color: #4D9CD8;
              opacity: 1;
              padding-left: 0.5rem;
              align-self: center;
              margin: 0 auto;
          }

    }
    .menu {
       


        h3{
            font: italic normal normal 10px/13px Roboto;
            letter-spacing: 0px;
            color: #4D9CD8;
            opacity: 1;
            padding-left: 0.5rem;
            align-self: center;
        
        }

       

        .config-icon{
            background-color: #4D9CD8;
        }

        img{
          
            padding: 0.2rem;
            border: 0.75px solid #4D9AD4;
            opacity: 1;
            width: 30px;
            height: 30px;
            border-radius:100%;
            box-sizing: border-box;
            margin-left: 0.5rem ;
            cursor: pointer;
        }

        
    }
}