.App{
   
   background-color: #EFEFEF;
   width:100vw;
   height:100vh;
   margin: 0;
   padding: 0;

    .search {
       float: right;
       margin-top: 1rem;
       margin-right: 1rem;  
    }

    html, body {
         background-color: #EFEFEF;
         width:100vw;
         height:100vh;
         margin: 0;
         padding: 0;
    }
       

    
}